<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sgenfe4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WindowsApplication2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
   
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <sgenfe4.My.MySettings>
            <setting name="sgenfe_recepcaoevento_AutorizacaoEvento" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
            </setting>
            <setting name="sgenfe_pesquisadepreco_IntegracaoLojista" serializeAs="String">
                <value>http://pesquisadepreco.azurewebsites.net/IntegracaoLojista.asmx</value>
            </setting>
            <setting name="sgenfe4_recepcaoevento_NFeRecepcaoEvento4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx</value>
            </setting>
            <setting name="sgenfe4_nfestatusservico2_NFeStatusServico4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx</value>
            </setting>
            <setting name="sgenfe4_nferetautorizacao_NFeRetAutorizacao4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx</value>
            </setting>
            <setting name="sgenfe4_nfeconsulta2_NFeConsultaProtocolo4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx</value>
            </setting>
            <setting name="sgenfe4_nfeautorizacao_NFeAutorizacao4" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx</value>
            </setting>
        </sgenfe4.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
